@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-image: url('https://source.unsplash.com/1600x900/?landscape');
	font-family: 'Poppins', sans-serif;
}

h1{
	margin: 2em auto;
	display: flex;
	text-align: center;
	justify-content: center;
	color: white;
}

.weather-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 3em auto auto;
	background: #00000085;
  	color: white;
  	padding: 2em;
  	border-radius: 30px;
  	width: 60%;
}

button {
	margin: 0.5em;
	border: none;
	border-radius: 24px;
	height: 30px;
	width: 70px;
	outline: none;
	background: #b9b9b9bd;
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;
  }

  input.weather-search {
	border: none;
	outline: none;
	padding: 0.4em 1em;
	border-radius: 24px;
	background: #b9b9b9bd;
	color: white;
	font-family: inherit;
	font-size: 105%;
	width: calc(100% - 100px);
  }
  
  button:hover {
	background: #7c7c7c6b;
  }
  
  .weather-info {
	  margin-top: .7em;
  }
  

